HOST=0.0.0.0
APP_PORT=3000
DOCKER_APP_IMAGE=xxxxxx

DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Password123!
POSTGRES_DB=qview
DATABASE_URL='postgresql://{username}:{password}@pgdb:5432/qview?sslmode=prefer'

CLOUDFLARE_TUNNEL_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

JWT_SECRET=olpl93GgnolsK7ghI8RMNU3sd6s1xYv72=
FRONTEND_URL=xxxxxxxxxxxxxxxxxxxxxx
SMTP_HOST=resend
SMTP_USER=xxxxxxxxxxxxx
SMTP_PASS=xxxxxxxxxxxxxxxxxxxxxxx
SMTP_FROM=xxxxxxxxxxxxxxxxxxxxxxx

SEED_DATA_COMMON_PASSWORD=Password123!