HOST=127.0.0.1                  # host that the application runs on internally and for development
APP_PORT=3000                   # port that the application runs on internally and for development
DOCKER_APP_IMAGE=xxxxxx         # when being used, the image that Docker compose pulls from (Docker Hub)

DB_PORT=5432                    # port that Postgres DB is accessible on
DB_USER=postgres                # name of user for logging into the Postgres DB
DB_PASSWORD=Password123!        # pwd for logging into the Postgres DB
POSTGRES_PASSWORD=Password123!  # pwd for logging into the Postgres DB
POSTGRES_DB=qview               # name of the Postgres DB to be created/found at the Docker Volume bind mount location
DATABASE_URL='postgresql://{username}:{password}@127.0.0.1:5433/qview?sslmode=prefer'  # connection string for Postgres DB

CLOUDFLARE_TUNNEL_TOKEN=xxxxxxxxxxxxxxxxxxxxx  # when using Cloudflare Tunnels Docker container, the key used to establish the connection

JWT_SECRET=olpl93GgnolsK7ghI8RMNU3sd6s1xYv72=  # standard JWT Secret; used for JWT encoding for auth services
FRONTEND_URL=xxxxxxxxxxxxxxxxxxxxxx            # when building with Docker compose, the URL the image's container will be served on
SMTP_HOST=resend                               # config for serving emails
SMTP_USER=xxxxxxxxxxxxx                        # config for serving emails
SMTP_PASS=xxxxxxxxxxxxxxxxxxxxxxx              # config for serving emails
SMTP_FROM=xxxxxxxxxxxxxxxxxxxxxxx              # config for serving emails

SEED_DATA_COMMON_PASSWORD=Password123!         # common pwd used for test users when they are inserted in the DB