/frontend/dist
/.cargo/.build
.env
!.env.example
.env.release
!.env.release.example
.env.dev
!.env.dev.example
.env.test
!.env.test.example
node_modules
build-log*.txt
.DS_Store
/.idea/
/target/debug
/backend/target
/backend/target/debug
/qviewng-db
/postgres-init/*.backup

# Temp files in the build
Cargo.lock
